<h1>{{title}}</h1>

<a routerLink="/projectsmain">Projects Main</a>
<a routerLink="/projectsmain/1">Main 1</a>
<p></p>
<a routerLink="/projects">Projects</a>
<a routerLink="/projects/1">List 1</a>
<p></p>
<a routerLink="/projectsdetail/1">Detail 1</a>
<!--
<a routerLink="/projectsmain/1">Detail 1</a>
<a routerLink="/projects/2">Detail 2</a>
-->

<div class="generic-container">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><span class="lead">Project </span></div>
		    <div class="panel-body">
	        <div class="formcontainer">
    	    </div>
		</div>
    </div>

<router-outlet></router-outlet>

    <div class="panel panel-default">
		<div class="panel-body">
			<div class="table-responsive">
			</div>
		</div>
    </div>
</div>
